* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
    --primary-color: #1822a3;
    --secondary-color: #80bbdb;
    --tertiary-color: #0a636d;
  }
body{
    background-color: rgba(214, 213, 247, 0.856);
}
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header a {
    text-decoration: none;
    color: var(--secondary-color);
  }
header nav {
    margin: 7px 0;
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-bottom: thick;
    text-shadow: none;
  }
.jumbo {
    background-image: url("../images/Jumbo.jpg");
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    /* background-position: center;
    display: grid;
    align-items: flex-start;
    background-size: ; */
  }
.sect {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
.sect h1 {
    color: var(--primary-color);
    font-size: 46px;
    flex: 1 30%;
    border-right: thick;
  }
.sect ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.sect ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}