* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root {
    --primary-color: #0d1153;
    --secondary-color: #85c9ee;
    --tertiary-color: #22202b;
  }
body{
    background-color: rgba(214, 213, 247, 0.856);
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }
header h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header a {
    text-decoration: none;
    color:var(--secondary-color);
  }
.underline {
    border-bottom: 3px solid;
    margin: 10px;
    text-align: center;
    border-color: var(--secondary-color);
    }
.border-right {
    border-right: 4px solid;
    border-color: var(--primary-color);
    padding-right: 20px;
    flex: 3;
    }
.name {
  color: var(--primary-color);
  padding: auto 20px auto 20px;
  text-align: center;
  justify-content: flex-start;
  margin: 20px;
  border-bottom: 4px solid;
  border-color: var(--primary-color);
}
header nav {
    margin: 7px 0;
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 15px;
    margin: auto 10px auto 10px;
  }
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-shadow: none;
  }
.jumbo {
    background-image: url("../images/Jumbo.jpg");
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 50px);
    height: 455px;
    width: 100%;
    background-size: cover;
  }
.jumbo h2 {
    grid-column: -3 / span 2;
    grid-row: -1;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 12px;

}
.sect {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
.sect div h1 {
    color: var(--primary-color);
    font-size: 5vw;
    display: flex;
    align-items: stretch;
    text-align: right;
  }
.sect ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.sect ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sect-content{
    flex: 7;
    margin: 20px;
    align-items: flex-end;
    justify-content: right;
    text-align: center;

}
.sect-content p{
    padding: 20px;
    color: var(--primary-color);
    font-size: 1.2vw;
}
.blue-background {
  background-color: var(--secondary-color);
}
.grid {
  max-width: 860px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    padding: 1em;
    color: var(--text-color);
}
.grid-item {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  display: flex;
  overflow: hidden;
}
.grid-item:first-child {
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3;
}
.item-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  background-size: inherit;
  position: relative;
  overflow: hidden;
  opacity: .75;
  transition: transform .2s;
}
.item-img:hover {
  opacity: 1;
}

#trip-planner {
  background-image: url(../images/trip-planner.PNG);
}
#run-buddy {
  background-image: url(../images/hero-bg.jpg);
}
#code-quiz {
  background-image: url(../images/code-quiz.PNG);
}
#password-gen {
  background-image: url(../images/Password-gen.PNG);
}
#weather-dashboard {
  background-image: url(../images/Weather-Dashboard.png);
}

